@import "./../../variables";

.containerProcessRequest {
  width: 100%;
  display: flex;
  flex-direction: column;
  &__content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    &-left {
      &-title {
        font-family: $roboto-bold;
        color: $dark-text;
        font-size: 1.3rem;
        margin-bottom: 0.3rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        &-text {
          margin-right: 1rem;
        }
        &-status {
          &-inProgress {
            padding: 0.1rem 2rem;
            font-family: $roboto-bold;
            font-size: 0.8rem;
            color: $light-text;
            background-color: $success;
            border-radius: 50px;
          }
          &-programmed {
            padding: 0.1rem 2rem;
            font-family: $roboto-bold;
            font-size: 0.8rem;
            color: $light-text;
            background-color: $warning;
            border-radius: 50px;
          }
          &-cancelled {
            padding: 0.1rem 2rem;
            font-family: $roboto-bold;
            font-size: 0.8rem;
            color: $light-text;
            background-color: $danger;
            border-radius: 50px;
          }
          &-done {
            padding: 0.1rem 2rem;
            font-family: $roboto-bold;
            font-size: 0.8rem;
            color: $light-text;
            background-color: $primary;
            border-radius: 50px;
          }
        }
      }
      &-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        &-date {
          display: flex;
          align-items: center;
          color: $dark-text;
          &-icon {
            margin-right: 0.3rem;
          }
        }
        &-time {
          display: flex;
          align-items: center;
          color: $dark-text;
          &-icon {
            margin-right: 0.3rem;
          }
        }
      }
    }
    &-right {
      display: flex;
      align-items: center;
      justify-content: center;
      &-button {
        border: none;
        background-color: $primary;
        color: $light-text;
        font-family: $roboto-regular;
        padding: 0.5rem 1.5rem;
        &:hover {
          border: 1px solid $primary;
          background-color: $background;
          color: $dark-text;
        }
      }
    }
  }
  &__divider {
    width: 100%;
    background-color: $primary;
  }
}
