// Fonts
@font-face {
    font-family: "RobotoLight";
    src: url("./fonts/Roboto-Light.ttf");
    font-style: normal;
}

@font-face {
    font-family: "RobotoRegular";
    src: url("./fonts/Roboto-Regular.ttf");
    font-style: normal;
}


@font-face {
    font-family: "RobotoBold";
    src: url("./fonts/Roboto-Bold.ttf");
    font-style: normal;
}

$roboto-light: "RobotoLight", sans-serif;
$roboto-regular: "RobotoRegular", sans-serif;
$roboto-bold: "RobotoBold", sans-serif;

// Colors

$primary: #2C3E50;
$secondary: #2980B9;
$success: #27AE60;
$background: #ECF0F1;
$dark-text: #34495E;
$light-text: #EFF2F5;
$warning: #F6C744;
$danger: #FF5353;