@import './../../../variables';

.credentialContainer {
    // width: 100vw;
    height: 100vh;
    background-color: $background;
    // text-align: center;

    // background-color: #40b1ce;
    display: flex;
    flex-direction: column;
    align-items: center;

    // justify-content: space-around;
    // align-items: center;
    &__back {
        width: 100%;
        font-family: $roboto-bold;
        font-size: 2rem;
        margin-top: 2rem;
        padding: 0 0 0 10rem;
        color: $dark-text;
        display: flex;
        align-items: center;

        &-icon {
            font-size: 2.5rem;
        }
    }

    &__content {
        margin-top: 8rem;
        width: 46rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        // height: 40%;
        padding: 1.2rem .7rem 1rem;
        background-color: $primary;

        &-title {
            width: 35rem;
            text-align: center;
            font-size: 1.6rem;
            color: $light-text;
            font-family: $roboto-bold;
            margin: 1.4rem 0 1rem;
        }

        &-form {
            font-family: $roboto-regular;
            color: $light-text;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 55%;

            &-label {
                width: 100%;
                font-size: 1.3rem;
                margin: 0.5rem 0;
            }

            &-field {
                width: 100%;

                .MuiInputBase-input {
                    height: 0.5rem;
                    color: $light-text;
                    outline: none;
                    border: none;
                }

                fieldset {
                    border-radius: 5px;
                    border-color: $light-text;
                }

                &-error {
                    width: 100%;
                    font-family: $roboto-light;
                }
            }
        }

        &-button {
            font-family: $roboto-regular;
            background-color: $success;
            padding: .6rem 4rem;
            margin: .7rem 0 2rem;

            &:hover {
                background-color: #18703d;
            }
        }
    }
}